<ul class="menu footer">
  <li class="menu__item">
    <a class="menu__link" href="/">Item One</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/">Item Two</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/">Item Three</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/">Item Four</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/">Item Five</a>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="/">Item Six</a>
  </li>
</ul>
