.menu.primary.pattern-one {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;

  @include medium {
    flex-flow: row wrap;
  }
  .menu__item {
    @include font-size(1.4);
    font-weight: 600;

    padding: 5px 15px;
    display: flex;
    flex: 0 0 auto;
  }
}

.menu__link {
  letter-spacing: 1.5px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &.active {
    color: $gray-light;
  }
  &.active:hover {
    text-decoration: none;
  }
}
