{#
/**
 * @file
 * The primary menu component.
 *
 * Available variables:
 * - primary_menu: main menu items.
 * - menu_class: active menu item class.
 */
#}
<nav class="primary menu pattern-one single" role="navigation" aria-labelledby="system-primary-navigation">
  <h2 class="visually-hidden">{{ 'Main Menu'|t }}</h2>
  <ol class="menu-items menu primary">
    <li class="menu__item">
      <a class="menu__link" href="/">Item One</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/">Item Two</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/">Item Three</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/">Item Four</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/">Item Five</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/">Item Six</a>
    </li>
  </ol>
</nav>
